<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

    <nb-sidebar>
      <app-nav>

      </app-nav>
    </nb-sidebar>
    <nb-layout-column>
    <router-outlet></router-outlet>
    </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>